MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/jalagarment
JWT_SECRET=your-super-secret-key-change-this
JWT_EXPIRES_IN=1d
JWT_ISS=jalagarment
JWT_AUD=jalagarment
JWT_ALG=HS256
JWT_TYP=JWT
CLOUDINARY_NAME=your-cloudinary-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
NODE_ENV=production
